.App {
  text-align: center;

}
.links{
  display: flex;
  justify-content: space-around;

  font-size: 20px;
  color: #ffd129;
  background-color: #c2ecff;
  text-decoration: none;
  padding: 10px;
}

.link:hover{
  padding: 0 5px 0 5px;
  transition: transform .2s;
  transform: scale(1.1);
  background: #761d78;
  color: #ffe;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

